body{
    background-color: #c9d8ef;
    
    #admin-menu{
        #admin-menu-list{
            display: inline-flex;
            list-style-position: inside;
            .admin-menu-list-item{
                margin: 0 20px;
            }
        }
    }
    
    #client-membre{
        margin: 0 5px;
        button{
            margin: 5px auto;
            &#AjouterMembre{
                display:block;              
            }
        } 
    }
    
    #client-reservation{
        #plan{
            background-color: #24445C;
            border: 1px solid black;
            height: 768px;
            position: relative;
            width: 1024px;
            
            .piece{
                background-color: #2C75FF;
                border: 1px solid black;
                height: 600px;
                position: absolute;
                width: 800px;
                
                .table{
                    background-color: #E8D630;
                    border: 1px solid black;
                    height: 100px;
                    float: left;
                    position: relative;
                    width: 100px;
                    
                    .bureau{
                        position: absolute;
                        
                        &.bureau-libre{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    
    .bureau  {
        span{
            font-size: 20px;
        }

        &.bureau-libre{
             span{
                color: #09A609;
            }
        }

        &.bureau-occupe{
            span{
                color: #EE1010
            }
        }                       
    }
    
    table{
        border: 1px solid black;
        width: 100%;
    }
    
    #overlay{
        background-color:rgba(0,0,0,0.6);
        display: none;
        height: 100%;
        left: 0;
        margin: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        
        #loader{               
            background-color: #FFFFFF;
            display: none;
            left: ~"calc(50% - 35px)"; 
            position: absolute;
            top: ~"calc(50% - 35px)";;
            width: 70px;   
        }
        .popin{
            background-color: #c9d8ef;
            border: 1px solid black;
            display: none;
            left: ~"calc(50% - 200px)";
            padding: 10px;
            position: absolute;
            width: 400px;
            z-index: 20;
            
            &#client-membre-popin{
                height: 170px;
                top: ~"calc(50% - 85px)";
            }
            &#admin-typeTva-popin{
                height: 90px;
                top: ~"calc(50% - 45px)";
            }
            
            &#admin-secteur-popin, &#admin-typeMembre-popin{
                height: 90px;
                top: ~"calc(50% - 45px)";
            }
            
            .popin-toolbar{
                display: block;
                height: 20px;
                .popin-toolbar-close{
                    cursor: pointer;
                    padding: 1px;
                    position: absolute;
                    right: 14px;
                    width: 12px;
                }
            }
        }
    }
}