body{
    background-color: #c9d8ef;
    text-align: center;
    
    div{
        color: red;
        a{
            text-decoration: none;
            &:visited, &:link{
                color: black;
            }
        }
        &.client{
            color: black;
        }
    }
}